doctype html
html
	head
		title my jade project
		link(rel="stylesheet", href="scss.css")
	body

h1 My 1st Jade Project
p looking forward to learning a ton of new things. my plan is to get really good at writing good, fast, scemantic code while using some of the newest technologies available to me right now. 
a.btn(href="#") hire me
	
h3 Here is another headline
